.hero{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    background-color: #802c68;
    /* background-image: url(../../assets/Premium\ Photo\ _\ Fiber\ optic\ cable\ technology\ background.jpeg); */
    
}
.hero-textbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hero-textbox h2{
    font-size: 6rem;
    font-weight: 700;
    color: white;
    text-transform: capitalize;
    text-align: center;
}
.hero-textbox p{
    color: white;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.hero-ctas a{
    text-decoration: none;
    /* display: inline-block;
    background-color: #393134;
    text-transform: capitalize;
    padding: 1rem 1.5rem; */
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    
}
.hero-ctas a:first-child{
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    margin-bottom: 2rem;
}
.hero-ctas a:last-child{
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 20px;
}
.why-us-section{
    border: 1px solid red;
    width: 1100px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.Why{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#f83270;
}
.why-icon-wrapper{
    --size: 6rem;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: var(--color-primary-lighter);
    display: grid;
    place-content: center;
}
.Why h3{
    margin: 2rem 0;
  text-transform: capitalize;
  color: var(--color-white);
}
.Why p{
    text-align: center;
  line-height: 1.8;
  color: var(--color-white);
}

