.hero{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    /* background-color: #802c68; */
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url(../../assets/heroimage.jpeg);
    
}
.hero-textbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hero-textbox h2{
    font-size: 6rem;
    font-weight: 700;
    color: white;
    text-transform: capitalize;
    text-align: center;
}
.hero-textbox p{
    color: white;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.hero-ctas a{
    text-decoration: none;
    /* display: inline-block;
    background-color: #393134;
    text-transform: capitalize;
    padding: 1rem 1.5rem; */
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    
}
.hero-ctas a:first-child{
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    margin-bottom: 2rem;
}
.hero-ctas a:last-child{
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 20px;
}
.why-us-section{
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transform: translateY(-55px);
    gap: 1rem;
}
.Why{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#802;
    border-radius: 10px;

}
.why-icon-wrapper{
    --size: 6rem;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: var(--color-primary-lighter);
    display: grid;
    place-content: center;
    font-size: 40px;

}
.Why h3{
    margin: 2rem 0;
  text-transform: capitalize;
  color: var(--color-white);
}
.Why p{
    text-align: center;
  line-height: 1.8;
  color: var(--color-white);
  text-transform: capitalize;
}
:root {
    --color-primary: #802c6e;
    --color-primary-light: #393134;
    --color-primary-lighter: #f0316d;
    --color-secondary: #2b0512;
}

.About h1{
    font-size: 80px;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}
.about-section{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    background-color:#802;
}


.about-section .imageAbout{
    width: 50%;
}

.about-section .imageAbout{
    width: 50%;
}
.about-section .imageAbout img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.about-section .about-section-right{
    margin: 10px 20px;
}

.Aboutus{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #2b0512 solid 2px;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.Aboutus .Aboutus-icon-wrapper{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0316d;
    display: grid;
    place-content: center;
    font-size: 40px;
}

.Aboutus h3{
    margin: 2rem 0;
    text-transform: capitalize;
    color: var(--color-white);
    font-size: 30px;
}

.Aboutus p{
    text-align: center;
  line-height: 1.8;
  color: var(--color-white);
  text-transform: capitalize;
}
.Testimonials{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Testimonials .motherDetails{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    gap: 2rem;
}

.Testimonials .TestimonyDetails{
    display: flex;
    width: 45%;
    border: #802 solid 2px;
    padding: 1rem;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 0px 20px 40px rgba(0,0,0,1);
}

.Testimonials .TestimonyDetails .TestimonyDetailsImage{
    width: 50%;
}

.Testimonials .TestimonyDetails .TestimonyDetailsImage img{
    width: 100%;
    border-radius: 10px;
}

.Testimonials .TestimonyDetails .TestimonyDetailsRight{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:10px ;
}

.Testimonials .TestimonyDetails .TestimonyDetailsRight p{
    font-size: 15px;
    font-weight: 700;
}

.Testimonials .TestimonyDetails .TestimonyDetailsRight h3{
    text-align: center;
    font-size: 20px;
    color: #2b0512;
}
.Testimonials .TestimonyDetails .TestimonyDetailsRight h6{
    text-align: center;
    color: #2b0512;
    font-size: 12px;
    font-weight: 900;
}
