@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Homemade+Apple&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&family=Reddit+Sans+Condensed:wght@200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --color-primary: #0c75fb;
  --color-primary-light: #2f89fc;
  --color-primary-lighter: #61a6fd;
  --color-secondary: #ff8000;
  --color-white-light: #fafafa;
  --color-white: #333;
  --color-black: #222;
}
body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: var(--color-black);
}
